<div class="container">
<div class="row">
<h1>Toppings</h1>

<ul class="list-inline">
<% @toppings.each do |topping|%>
  <li class="list-inline-item"><%= link_to topping.name, topping %></li>
<% end %>
</ul>
</div>
</div>